In [ ]:
#Task 1
lst="python is very very esay language"
result=[(word.lower(),len(word))for word in lst.split()]
print(result)

[('python', 6), ('is', 2), ('very', 4), ('very', 4), ('esay', 4), ('language', 8)]

In [ ]:
#Task 2
d={i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#Task 3
lst="Hai HeLLO"
output={i: ord(i) for i in lst if i.isupper()}
print(output)

{'H': 72, 'L': 76, 'O': 79}

In [4]:
#create a list of square of even numbers only from a given list
def sq(l)->list:
       return[x**2 for x in l]
arr=[1,2,3,4]
print(sq(arr))

[1, 4, 9, 16]

In [5]:
#extract all words starting with vowel from a sentance
def extract(s)->list:
    vowel="aeiouAEIOU"
    return[x for x in s.split() if x[0] in vowel]
print(extract("hello this is yash kumar"))

['is']

In [7]:
# Remove duplicate elements from a list using a set and print only value greater than 5
lst=[1,3,3,5,7,2]
remove=[num for num in set(lst) if num>5]
print(remove)

[7]

In [10]:
#WAP to check whether the given data is flote or not
is_float =lambda x: "float" if type(x) == float else "not float"
print(is_float(10.5))

float

In [9]:
#WAP to find the sum of 3 num
sum3 = lambda a,b,c:a+b+c
print(sum3(10,20,30))

60

In [12]:
#create a bank class . it should have 4 ststic (class) members, create 3 objects ,each object should heve 3 obj
class bank():
    bank_name= "PNB"
    branch="kolkata"
    location="salt lake"
    pincode="847233"

In [ ]:
cust1=bank()
cust1.cust_name="yash"
cust1.age="22"
cust1.gender="male"


cust2=bank()
cust2.cust_name="kumar"
cust2.age="21"
cust2.gender="male"

cust3=bank()
cust3.cust_name="choudhary"
cust3.age="21"
cust3.gender="male"

print( "bank name:",bank.bank_name)
print("customer 1:",cust1.cust_name,cust1.age ,cust1.gender)
print("customer 2:",cust2.cust_name,cust2.age ,cust2.gender)
print("customer 3:",cust3.cust_name,cust3.age ,cust3.gender)

bank name: PNB
customer 1: yash 22 male
customer 2: kumar 21 male
customer 3: choudhary 21 male

In [10]:
class  Bank():
    Name = "SBI"
    Address = "Haldia"
    pincde="6376327"
    branch="kolkata"
    def set_details(obj,name,age,phone,pan,balance):
        obj.name=name
        obj.age=age
        obj.phone=phone
        obj.pan=pan
        obj.balance=balance

    #craeating 5 object
C1=Bank()
C1.set_details("Aditya",22 , 9122543699 ,"PANCARD123", 50000)
C2=Bank()
C2.set_details("AdI",20,9122443699 ,"PANCARD113", 5000)

In [15]:
class  Bank2():
    Name = "SBI"
    Address = "Haldia"
    pincde="6376327"
    branch="kolkata"
    def __init__(self,name,age,phone,pan,balance):
        self.name=name
        self.age=age
        self.phone=phone
        self.pan=pan
        self.balance=balance
#creating obj
C1=Bank2("Divya",22,888888888,"PANCARD123",89000)
C2=Bank2("Dav",23,888888888,"PANCARD123",9000)
C3=Bank2("Don",20,888888888,"PANCARD123",9000)
C4=Bank2("kumar",24,888888888,"PANCARD123",8000)
C1.age

22

In [ ]:
class  Bank3():
    Name = "SBI"
    Address = "Haldia"
    pincde="6376327"
    branch="kolkata"
    def __init__(self,name,age,phone,pan,balance):
        self.name=name
        self.age=age
        self.phone=phone
        self.pan=pan
        self.balance=balance

def display(self):
    print(self.name,self.phone,self.balance)

def change_phone(self, new_phone):
    self.phone=new_phone

#withdrawl
def withdraw_money(self,withdral_balance):
    if(withdral_balance>0):
        if(self.balance>=withdral_balance):
            print(withdral_balance)
        else:
            print("invalid ammount")

In [22]:
class  Bank4:
    Name = "SBI"
    Address = "Haldia"
    pincde="6376327"
    branch="kolkata"
    def __init__(self,name,age,phone,pan,balance):
        self.name=name
        self.age=age
        self.phone=phone
        self.pan=pan
        self.balance=balance

#object method
    def display(self):
        print(self.name,self.phone,self.balance)

    @classmethod
    def change_add(cls,new_name):
        Bank4.Address=new_name
Bank4.change_add("Dholakpur")
Bank4.Address

'Dholakpur'