In [82]:
import pandas as pd

In [83]:
wine=pd.read_csv('./wine_data.csv')

In [84]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,name,date
0,8.50,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7,16,WineA,2023-01-10
1,8.00,0.59,0.16,1.8,0.065,3.0,16.0,0.99620,3.42,0.92,10.50,7,128,WineB,2023-02-15
2,9.60,0.32,0.47,1.4,0.056,9.0,24.0,0.99695,3.22,0.82,10.30,7,200,WineC,2023-03-20
3,12.80,0.30,0.74,2.6,0.095,9.0,28.0,0.99940,3.20,0.77,10.80,7,205,WineD,2023-04-25
4,9.91,0.45,0.49,2.8,0.053,21.9,60.5,0.99683,3.31,0.90,8.88,4,5,Weingut Syrah Reserve 575,2023-02-12

In [85]:
wine.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,name,date
215,10.62,0.38,0.41,3.0,0.072,24.8,55.7,0.99732,3.16,0.79,10.99,6,216,Bodega Pinot Classic 513,2024-10-08
216,10.21,0.17,0.60,2.5,0.059,13.7,21.2,0.99388,3.21,0.72,11.25,7,217,Castello Merlot Grand Cru 41,2024-06-03
217,11.29,0.36,0.46,2.8,0.082,26.6,40.2,0.99651,3.27,0.84,11.24,7,218,Bodega Chardonnay Grand Cru 257,2022-02-22
218,9.21,0.36,0.51,2.6,0.082,10.3,19.6,0.99854,3.20,0.70,11.09,6,219,Chateau Cabernet Special 857,2022-02-12
219,10.02,0.21,0.47,1.8,0.050,17.2,33.5,0.99676,3.04,0.70,11.37,7,220,Bodega Sauvignon Classic 591,2022-03-24

In [86]:
wine['quality'].unique()

array([7, 4, 3, 5, 8, 6])

In [87]:
wine["Id"].unique()

array([ 16, 128, 200, 205,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,
        54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
        67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,
        80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,
        93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
       106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118,
       119, 120, 121, 122, 123, 124, 125, 126, 127, 129, 130, 131, 132,
       133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145,
       146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158,
       159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171,
       172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184,
       185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197,
       198, 199, 201, 202, 203, 204, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220])

In [88]:
wine['pH'].unique()

array([3.3 , 3.42, 3.22, 3.2 , 3.31, 3.35, 3.32, 3.24, 3.23, 3.27, 3.34,
       3.13, 3.18, 3.37, 3.17, 3.16, 3.09, 3.33, 3.44, 3.25, 3.41, 3.19,
       3.21, 3.4 , 3.28, 3.49, 3.36, 3.12, 3.29, 3.45, 3.14, 3.1 , 3.46,
       3.51, 3.39, 3.54, 3.26, 3.38, 3.07, 3.02, 3.  , 3.48, 3.5 , 3.43,
       2.97, 3.08, 3.52, 3.04])

In [89]:
wine['quality_label']=wine['quality'].map({3:'Very Bad',
                                       4:'Bad'
                                       ,5:'Good'
                                       ,6:"Very Good"
                                       ,7:"Nice"
                                       ,8:"Excellent"})

wine['quality_label2']=wine['quality_label'].map({
    "Good":'Good1',"Bad":"Bad2"
})
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,name,date,quality_label,quality_label2
0,8.50,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7,16,WineA,2023-01-10,Nice,NaN
1,8.00,0.59,0.16,1.8,0.065,3.0,16.0,0.99620,3.42,0.92,10.50,7,128,WineB,2023-02-15,Nice,NaN
2,9.60,0.32,0.47,1.4,0.056,9.0,24.0,0.99695,3.22,0.82,10.30,7,200,WineC,2023-03-20,Nice,NaN
3,12.80,0.30,0.74,2.6,0.095,9.0,28.0,0.99940,3.20,0.77,10.80,7,205,WineD,2023-04-25,Nice,NaN
4,9.91,0.45,0.49,2.8,0.053,21.9,60.5,0.99683,3.31,0.90,8.88,4,5,Weingut Syrah Reserve 575,2023-02-12,Bad,Bad2

In [90]:
wine.info()

<class 'pandas.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         220 non-null    float64
 1   volatile acidity      220 non-null    float64
 2   citric acid           220 non-null    float64
 3   residual sugar        220 non-null    float64
 4   chlorides             220 non-null    float64
 5   free sulfur dioxide   220 non-null    float64
 6   total sulfur dioxide  220 non-null    float64
 7   density               220 non-null    float64
 8   pH                    220 non-null    float64
 9   sulphates             220 non-null    float64
 10  alcohol               220 non-null    float64
 11  quality               220 non-null    int64
 12  Id                    220 non-null    int64
 13  name                  220 non-null    str
 14  date                  220 non-null    str
 15  quality_label         220 non-null    str
 16  quality_label2        68 non-null     str
dtypes: float64(11), int64(2), str(4)
memory usage: 29.3 KB

In [91]:
wine.name

0                                WineA
1                                WineB
2                                WineC
3                                WineD
4            Weingut Syrah Reserve 575
                    ...
215           Bodega Pinot Classic 513
216       Castello Merlot Grand Cru 41
217    Bodega Chardonnay Grand Cru 257
218       Chateau Cabernet Special 857
219       Bodega Sauvignon Classic 591
Name: name, Length: 220, dtype: str

In [92]:
wine.name.str

In [93]:
wine.name.str.upper()

0                                WINEA
1                                WINEB
2                                WINEC
3                                WINED
4            WEINGUT SYRAH RESERVE 575
                    ...
215           BODEGA PINOT CLASSIC 513
216       CASTELLO MERLOT GRAND CRU 41
217    BODEGA CHARDONNAY GRAND CRU 257
218       CHATEAU CABERNET SPECIAL 857
219       BODEGA SAUVIGNON CLASSIC 591
Name: name, Length: 220, dtype: str

In [94]:
wine.name.str.title()

0                                Winea
1                                Wineb
2                                Winec
3                                Wined
4            Weingut Syrah Reserve 575
                    ...
215           Bodega Pinot Classic 513
216       Castello Merlot Grand Cru 41
217    Bodega Chardonnay Grand Cru 257
218       Chateau Cabernet Special 857
219       Bodega Sauvignon Classic 591
Name: name, Length: 220, dtype: str

In [95]:
wine.name.str.len()

0       5
1       5
2       5
3       5
4      25
       ..
215    24
216    28
217    31
218    28
219    28
Name: name, Length: 220, dtype: int64

In [96]:
wine[wine.name.str.contains('A')]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,name,date,quality_label,quality_label2
0,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.9969,3.3,0.75,10.5,7,16,WineA,2023-01-10,Nice,NaN

In [97]:
wine[wine.name.str.contains('a')]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id,name,date,quality_label,quality_label2
4,9.91,0.45,0.49,2.8,0.053,21.9,60.5,0.99683,3.31,0.90,8.88,4,5,Weingut Syrah Reserve 575,2023-02-12,Bad,Bad2
5,8.72,0.56,0.34,0.8,0.059,22.3,59.8,0.99571,3.35,0.79,9.79,4,6,Bodega Riesling Special 559,2024-05-09,Bad,Bad2
6,9.54,0.61,0.41,3.1,0.064,23.5,51.8,0.99716,3.32,0.73,9.15,4,7,Domaine Pinot Grand Cru 285,2022-01-14,Bad,Bad2
7,9.08,0.63,0.49,1.1,0.072,18.1,42.5,0.99795,3.20,0.81,8.88,3,8,Domaine Riesling Premium 349,2023-07-24,Very Bad,NaN
8,8.88,0.44,0.40,2.9,0.079,15.3,43.6,0.99742,3.42,0.79,10.84,5,9,Domaine Cabernet Classic 105,2022-07-09,Good,Good1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,10.62,0.38,0.41,3.0,0.072,24.8,55.7,0.99732,3.16,0.79,10.99,6,216,Bodega Pinot Classic 513,2024-10-08,Very Good,NaN
216,10.21,0.17,0.60,2.5,0.059,13.7,21.2,0.99388,3.21,0.72,11.25,7,217,Castello Merlot Grand Cru 41,2024-06-03,Nice,NaN
217,11.29,0.36,0.46,2.8,0.082,26.6,40.2,0.99651,3.27,0.84,11.24,7,218,Bodega Chardonnay Grand Cru 257,2022-02-22,Nice,NaN
218,9.21,0.36,0.51,2.6,0.082,10.3,19.6,0.99854,3.20,0.70,11.09,6,219,Chateau Cabernet Special 857,2022-02-12,Very Good,NaN
219,10.02,0.21,0.47,1.8,0.050,17.2,33.5,0.99676,3.04,0.70,11.37,7,220,Bodega Sauvignon Classic 591,2022-03-24,Nice,NaN

In [98]:
wine.date.dtype

In [99]:
pd.to_datetime(wine.date)

0     2023-01-10
1     2023-02-15
2     2023-03-20
3     2023-04-25
4     2023-02-12
         ...
215   2024-10-08
216   2024-06-03
217   2022-02-22
218   2022-02-12
219   2022-03-24
Name: date, Length: 220, dtype: datetime64[us]

In [100]:
wine['date']=pd.to_datetime(wine.date)
wine.info()

<class 'pandas.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         220 non-null    float64
 1   volatile acidity      220 non-null    float64
 2   citric acid           220 non-null    float64
 3   residual sugar        220 non-null    float64
 4   chlorides             220 non-null    float64
 5   free sulfur dioxide   220 non-null    float64
 6   total sulfur dioxide  220 non-null    float64
 7   density               220 non-null    float64
 8   pH                    220 non-null    float64
 9   sulphates             220 non-null    float64
 10  alcohol               220 non-null    float64
 11  quality               220 non-null    int64
 12  Id                    220 non-null    int64
 13  name                  220 non-null    str
 14  date                  220 non-null    datetime64[us]
 15  quality_label         220 non-null    str
 16  quality_label2        68 non-null     str
dtypes: datetime64[us](1), float64(11), int64(2), str(3)
memory usage: 29.3 KB

In [101]:
wine.date.dt.year

0      2023
1      2023
2      2023
3      2023
4      2023
       ...
215    2024
216    2024
217    2022
218    2022
219    2022
Name: date, Length: 220, dtype: int32

In [102]:
wine['date']=pd.to_datetime(wine.date)
wine['Year']=wine.date.dt.year
wine.info()

<class 'pandas.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         220 non-null    float64
 1   volatile acidity      220 non-null    float64
 2   citric acid           220 non-null    float64
 3   residual sugar        220 non-null    float64
 4   chlorides             220 non-null    float64
 5   free sulfur dioxide   220 non-null    float64
 6   total sulfur dioxide  220 non-null    float64
 7   density               220 non-null    float64
 8   pH                    220 non-null    float64
 9   sulphates             220 non-null    float64
 10  alcohol               220 non-null    float64
 11  quality               220 non-null    int64
 12  Id                    220 non-null    int64
 13  name                  220 non-null    str
 14  date                  220 non-null    datetime64[us]
 15  quality_label         220 non-null    str
 16  quality_label2        68 non-null     str
 17  Year                  220 non-null    int32
dtypes: datetime64[us](1), float64(11), int32(1), int64(2), str(3)
memory usage: 30.2 KB

In [103]:
wine.loc[5]

fixed acidity                                  8.72
volatile acidity                               0.56
citric acid                                    0.34
residual sugar                                  0.8
chlorides                                     0.059
free sulfur dioxide                            22.3
total sulfur dioxide                           59.8
density                                     0.99571
pH                                             3.35
sulphates                                      0.79
alcohol                                        9.79
quality                                           4
Id                                                6
name                    Bodega Riesling Special 559
date                            2024-05-09 00:00:00
quality_label                                   Bad
quality_label2                                 Bad2
Year                                           2024
Name: 5, dtype: object

In [104]:
wine.loc[len(wine)]=[8.2,0.55,0.43,0.9,0.02,21.3,58,0.89,3.31,0.8,0.78,9.78,4,7,"abc","2024-05-09","2024"]

ValueError: cannot set a row with mismatched columns

In [ ]:
wine['High_Alcohol']=wine.alcohol>=10
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,...,quality,Id,name,date,quality_label,quality_label2,Year,Month,month,High_Alcohol
0,8.50,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,...,7,16,WineA,2023-01-10,Nice,NaN,2023,2023-01-10,2023,True
1,8.00,0.59,0.16,1.8,0.065,3.0,16.0,0.99620,3.42,0.92,...,7,128,WineB,2023-02-15,Nice,NaN,2023,2023-02-15,2023,True
2,9.60,0.32,0.47,1.4,0.056,9.0,24.0,0.99695,3.22,0.82,...,7,200,WineC,2023-03-20,Nice,NaN,2023,2023-03-20,2023,True
3,12.80,0.30,0.74,2.6,0.095,9.0,28.0,0.99940,3.20,0.77,...,7,205,WineD,2023-04-25,Nice,NaN,2023,2023-04-25,2023,True
4,9.91,0.45,0.49,2.8,0.053,21.9,60.5,0.99683,3.31,0.90,...,4,5,Weingut Syrah Reserve 575,2023-02-12,Bad,Bad2,2023,2023-02-12,2023,False

In [ ]:
data1={
    'Name':['A','B','C'],
    'age':[22,45,67],
    'salary':[1111,222,3333]
}

data2={
    'Name':['A','BB','C'],
    'age':[22,54,67],
    'salary':[1111,2222,3333]
}

In [ ]:
new_wine1=pd.DataFrame(data1)
new_wine2=pd.DataFrame(data2)

In [ ]:
new_wine1.head()

  Name  age  salary
0    A   22    1111
1    B   45     222
2    C   67    3333

In [ ]:
pd.concat([new_wine1,new_wine2])

  Name  age  salary
0    A   22    1111
1    B   45     222
2    C   67    3333
0    A   22    1111
1   BB   54    2222
2    C   67    3333

In [ ]:
pd.concat([new_wine1,new_wine2],ignore_index=True,axis=0)

  Name  age  salary
0    A   22    1111
1    B   45     222
2    C   67    3333
3    A   22    1111
4   BB   54    2222
5    C   67    3333

In [ ]:
new_wine=pd.concat([new_wine1,new_wine2],ignore_index=True,axis=0)
new_wine.head()

  Name  age  salary
0    A   22    1111
1    B   45     222
2    C   67    3333
3    A   22    1111
4   BB   54    2222

In [ ]:
new_wine.drop_duplicates(inplace=True)
new_wine.head()

  Name  age  salary
0    A   22    1111
1    B   45     222
2    C   67    3333
4   BB   54    2222

In [ ]:
pd.merge(new_wine1,new_wine2,on='age')

  Name_x  age  salary_x Name_y  salary_y
0      A   22      1111      A      1111
1      C   67      3333      C      3333

In [ ]:
pd.merge(new_wine1,new_wine2,on='age',how='outer')

  Name_x  age  salary_x Name_y  salary_y
0      A   22    1111.0      A    1111.0
1      B   45     222.0    NaN       NaN
2    NaN   54       NaN     BB    2222.0
3      C   67    3333.0      C    3333.0